
    header{
        //position:fixed;
        text-align:center;
        padding-top:5px;
    }

    .head{
        text-decoration:underline overline;
    }

    body{
      /*background-image:url("mouse.jpg");
      background-size: cover;*/
      color:black;
    }

    #name{
      text-decoration:underline
    }
    .title_img_right{
        float:right;
        opacity:1;
    }

    .title_img_left{
        float:left;
        opacity:1;
    }

    .body_img_right{
        float:right;
        margin-left:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow: 5px 2px 4px #DDDDDD;
        border:1px solid black;
    }

    .body_img_left{
        float:left;
        margin-right:20px;
        -webkit-border-radius:10px;
        border-radius:10px;
        box-shadow: 5px 2px 4px #DDDDDD;
        border:1px solid black;
    }


/*    p.head{
   position: fixed;
   top: 30px;
   right: 5px;
   color: red;
}*/

    h1 {
        color:white;
        font-size:250%;
        font-variant:small-caps;
        text-align:center;
        //text-shadow: 5px 2px 4px #DDDDDD;
        text-transform:capitalize;
    }

    h2 {
        font-variant:small-caps;
        color:white;
        //text-shadow: 5px 2px 4px #DDDDDD
    }

    #boxcontainer{
          display:flex;
          justify-content:space-between;
    }

    .Welcome {
      margin-top: 1%;
    flex-basis:45%;
    border:2px solid rgba(0,255,0,1);
    }

    .Welcome .first strong {
        color:red;
    }

.WIP{

    margin-left:1%;
    margin-right:1%;
    margin-top:1%;
  flex-basis:45%;
  border:2px solid rgba(255,0,0,1);
}

.Areas{
    margin-top:1%;
    flex-basis:45%;
    border:2px solid rgba(0,0,255,1);
}

.WorkArea{
    margin:1%;
    border:2px solid rgba(255,255,255,1);
}

.footer{
font-size:10px;
    margin:2.5%;
    width:95%;
}

    body {
        font-family: Tahoma;
    }

    ul {
        font-style:italic;
        list-style-type:circle;
    }

    form {
        vertical-align:top;
        display:table-cell;
    }

    a:hover{
        /*font-size:110%;*/
        text-shadow: 5px 2px 4px #DDDDDD;
        /*color:white;*/
        /*background: black;
,   px  px rgba(,,,      transition: width 3s;
        -webkit-transition: background-color 2s ease-in;
        background-color: black;
        height:100px;
    width:0px;
    animation-name: colorchange;
    animation-duration: 5s;
    -webkit-animation-name: colorchange;
    -webkit-animation-duration: 5s ease;*/
    }


@keyframes colorchange {
    0% {background-color: white; }
    100% {background-color: black; }
}

/*@-webkit-keyframes colorchange {
    from {width:0px; }
    to {width:200px; }
    0% {background-color: white; }
    100% {background-color: black; }
}*/

    nav{
        text-align:center;
        perspective:100px;
    }


    #container {
      width: 200px;
      height: 200px;
      background: green;
      position: relative;
    }
    #box {
      width: 50px;
      height: 50px;
      background: red;
      position: absolute;
    }

    #thumbnail{
      background-color:rgba(4,4,4,0.5);
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .fullCard{
      border-radius:5px;
      padding:2px;
    }

    .cardText{
      margin-bottom:30px;
    }

    .cardContent{
      padding:8px;
    }

    /*set up swatch common CSS*/
    .swatch{
      width:3.5vw;
      height:3.5vw;
      border-radius: 50%;
      border-color: #FFFFFF;
      border-width: thick;
      border-style: solid;
      -webkit-border-radius: 50%;
      -webkit-border-color: #FFFFFF;
      -webkit-border-width: thick;
      -webkit-border-style: solid;
      text-align: center;
      line-height: 3.5vw;
      color: #FFFFFF;
      box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    }

    /*swatch modfiers*/
    .swatch-red{
      background-color: #BA1F1F;
    }

    .swatch-frozenwhite{
      background-color: #E8E7E3;
    }

    .swatch-blazerblue{
      background-color: #141731;
    }

    .swatch-moondustsilver{
      background-color: #A6A9AA;
    }

    .swatch-guard{
      background-color: #898A80;
    }

    .swatch-solar{
      background-color: #CCC65D;
    }

    .swatch-deepimpactblue{
      background-color: #1D2F82;
    }

    .swatch-shadowblack{
      background-color: #181A1A;
    }

    .swatch-magnetic{
      background-color: #5F625F;
    }

    /*change font-awesome icon color*/
    i {
      color: white;
    }
